<%- model_class = Image -%>

<%= render "images/errors" %>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Image Upload</h3>
  </div>
  <div class="panel-body">
    <%= render "images/upload_form" %>
  </div>
</div>

<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="text-center"> Your images </h1>
  </div>
  <div class="panel-body">
    <div class="text-center">
      <%= will_paginate @images_uploaded, renderer: BootstrapPagination::Rails %>
    </div>

    <%= render "images/list" %>

    <div class="text-center">
      <%= will_paginate @images_uploaded, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>

