<%- model_class = Image -%>
<h2>Image Upload</h2>
<%= render "images/upload_form" %>

<%= form_tag destroy_multiples_images_path, method: :delete do %>
  <table class="table table-striped border-top">
    <thead>
      <tr>
        <th> Picture </th>
        <th> <%= link_to "File name", method: :get, controller: "images", action: "order_by", order: Image::ORDER_BY_FILE_NAME  %> </th>
        <th> <%= link_to "Created at", method: :get, controller: "images", action: "order_by", order: Image::ORDER_BY_CREATED_AT %> </th>
        <th class="text-center">Selection</th>
      </tr>
    </thead>

    <tbody>
      <% @images_uploaded.each do |image| %>
        <tr>
          <td>
            <%= link_to image_path(image) do%>
              <%= image_tag image.picture.versions[:thumb].url %>
            <% end %>
          </td>
          <td><%= link_to image.file_name, image_path(image) %></td>
          <td><%= image.created_at.strftime("%c") %></td>
          <td>
            <div class="text-center">
              <%= check_box_tag "image_ids[]", image.id %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Delete Selected Images", class: "btn btn-danger" %>
<% end %>

