<%- model_class = Image -%>
<h2>Upload an image </h2>
<%= render "images/form" %>

<%= form_tag destroy_multiples_images_path, method: :delete do %>
  <table class="table table-striped border-top">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:picture) %></th>
        <th><%= model_class.human_attribute_name(:file_name) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th class="text-center">Selection</th>
      </tr>
    </thead>

    <tbody>
      <% @images.each do |image| %>
        <tr>
          <td>
            <%= link_to image_path(image) do%>
              <%= image_tag image.picture.versions[:thumb].url %>
            <% end %>
          </td>
          <td><%= link_to image.picture.file.file.split("/").last, image_path(image) %></td>
          <td><%=image.created_at.strftime("%c") %></td>
          <td>
            <div class="text-center">
              <%= check_box_tag "image_ids[]", image.id %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Delete Selected Images", class: "btn btn-danger" %>
<% end %>

